<div class="content_sidedrawer">
  <div class="side_drawer_container">
    <div class="side_drawer">
      <div class="side_drawer_close">
        <h3 class="content_sidedrawer_title"></h3>
        <a href="javascript:void(0)" class="closebtn">×</a>
      </div>
      <div class="side_bar_content">
      </div>
      <div class="slide_loader">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: rgba(241, 242, 243,0); display: block;" width="100px" height="100px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
          <circle cx="50" cy="50" r="15" stroke-width="2" stroke="#0a0a0a" stroke-dasharray="23.561944901923447 23.561944901923447" fill="none" stroke-linecap="round">
            <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1.1494252873563218s" keyTimes="0;1" values="0 50 50;360 50 50"></animateTransform>
          </circle>
        </svg>
      </div>
    </div>
  </div>
</div>