<div class="page-width page-width--narrow page-content">
  <header class="section-header">
    <h1 class="section-header__title return_policy_header">{{ page.title }}</h1>
    {% section 'shipping_policy_section' %}
  </header>

  <div class="rte rte--nomargin">
    {{ page.content }}
  </div>
</div>
<style>
  .return_policy_header{
    text-align:center;
    margin-top: 20px;
  }
</style>
